
@{
    ViewData["Title"] = "Form";
}

<h2>Please fill out this form to count your words</h2>
<form action="/results" method="post">
    <div class="form-group">
        <label for="word">Choose word to count!</label>
        <input type="text" name="word" id="word" required class="form-control"/>
    </div>
    <div class="form-group">
        <label for="phrase">Choose a phrase to see how many times the first word appears!</label>
        <input type="text" name="phrase" id="phrase" required class="form-control"/>
    </div>
    <div>
        <button type="submit" class="btn btn-success btn-lg">Submit</button>
    </div>
</form>