@{
    ViewData["Title"] = "Home Page";
}

<h2>Word Counter!</h2>
<div class="form-group">
    <p>If you would like to play, please click the button below</p>
    <form action="/form">
        <button type="submit" class="btn btn-success">Click here</button>
    </form>
</div>