@{
    ViewData["Title"] = "Home Page";
}

<h2>Word Counter!</h2>
<p>If you would like to play, please click the button below</p>
<form action="/form">
    <button type="submit">Click here</button>
</form>